@using JobAdder.Integrations.Models;
@model IEnumerable<Candidate>
@{
    ViewData["Title"] = "List of Candidates";
}
<h2>@ViewData["Title"]</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-5 font-weight-bold"><big>Name</big></div>
        <div class="col-sm-8 col-xs-7 font-weight-bold"><big>Skill Tags</big></div>
    </div>
    @foreach (Candidate item in Model)
    {
        <hr />
        <div class="row">
            <div class="col-sm-4 col-xs-5">@item.Name</div>
            <div class="col-sm-8 col-xs-7">@item.SkillTags</div>
        </div>
    }
</div>