@using JobAdder.Web.Models;
@model IEnumerable<BestFitViewModel>
@{
    ViewData["Title"] = ViewBag.Title != null ? ViewBag.Title : "Oops...";
}
<h2>@ViewData["Title"]</h2>
<div class="container">
    @if (Model.Count() > 0)
    {
        <div class="row">
            <div class="col-sm-3 col-xs-4 font-weight-bold"><big>Name</big></div>
            <div class="col-sm-6 col-xs-6 font-weight-bold"><big>Skill Tags</big></div>
            <div class="col-sm-3 col-xs-2 font-weight-bold text-center" title="Total of skills which match for this job"><big>Total of Skills</big></div>
        </div>
        foreach (BestFitViewModel item in Model)
        {
            <hr />
            <div class="row">
                <div class="col-sm-3 col-xs-4">@item.Name</div>
                <div class="col-sm-6 col-xs-6">@item.SkillTags</div>
                <div class="col-sm-3 col-xs-2 text-center">@item.Total</div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col-sm-12 col-xs-12"><i>Job not found or there are no candidates for this job.</i></div>
        </div>
    }
</div>