@using JobAdder.Integrations.Models;
@model IEnumerable<Job>
@{
    ViewData["Title"] = "List of Jobs";
}
<h2>@ViewData["Title"]</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-3 font-weight-bold"><big>Name</big></div>
        <div class="col-sm-3 col-xs-3 font-weight-bold"><big>Company</big></div>
        <div class="col-sm-5 col-xs-6"><big>Skills</big></div>
    </div>
    @foreach (Job item in Model)
    {
        <hr />
        <div class="row">
            <div class="col-sm-4 col-xs-3">@item.name</div>
            <div class="col-sm-3 col-xs-3">@item.company</div>
            <div class="col-sm-5 col-xs-6">@item.skills</div>
        </div>
    }
</div>